#editContainer {

    flex: 0 0 1070px;
    margin-top: 10px;
    margin-right: 10px;
    height: fit-content;
    flex-direction: column;
    box-sizing: border-box;
}

#editorContainer {

    margin: 10px 20px;
}



#input {

    margin: 16px auto;
    height: 500px;
    width: 1000px;
    background-color: rgb(250, 250, 250);
    resize: vertical;
    font-size: 0.9em;
}

#historyNum {

    font-size: 1em;
    margin-left: 10px;
}