@media screen and (min-width: 800px) {
    html {
        background-color: rgb(250, 250, 250);
        font-size: 10px;
    }
}

@media screen and (max-width: 800px) {
    html {
        background-color: rgb(250, 250, 250);
        font-size: 6px;
    }
}

/* logIn */

#loginDiv {
    background-color: rgb(250, 250, 250);
    z-index: 1000;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}

#signInDiv, #signInDiv~div {
    flex-direction: column;
    width: -webkit-fill-available;
    padding: 1rem;
    margin-bottom: 30rem;
    width: 50rem;
}
#loginDiv hr {
    width: 96%;
    margin: 1rem auto;
}

#loginDiv p {
    font-size: 2.4rem;
    text-align: center;
}

#loginDiv button {

    margin-bottom: .8rem;
}

/* loading */

#loadingDiv {
    background-color: rgba(0, 0, 0, 0.603);
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 500%;
    justify-content: center;
    align-items: center;
    padding-top: 35rem;
}

#loadingDiv>p {
    text-align: center;
}

@media screen and (min-width: 800px) {
    #loadingDiv>p {
        font-size: 7rem;
    }
}

@media screen and (max-width: 800px) {
    #loadingDiv>p {
        font-size: 5rem;
    }
}

/* header */

header {
    height: 20rem;
    padding: 5rem 0;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#logoImg {
    height: 5.5rem;
    min-width: 20rem;
    font-size: 3.7rem;
    color: rgb(80, 0, 255);
    text-align: center;
    line-height: 5.8rem;
    font-weight: bold;
    user-select: none;
    margin: 0;
}

#logoImg:hover {
    cursor: pointer;
    animation-duration: .8s;
    animation-name: gradation, sizeChange;
    animation-iteration-count: infinite;
}

@keyframes sizeChange {
    0% {
        font-size: 3.7rem;
    }
    30% {
        font-size: 3.8rem;
    }
    100% {
        font-size: 3.7rem;
    }
}

#searchTxt {
    border-radius: 2.6rem;
    height: 5rem;
    min-width: 45rem;
    font-size: 2.5rem;
    padding: .5rem 1.5rem;
    padding-right: 5rem;
    border: .1rem rgb(80, 0, 255) solid;
}

#searchBtn {
    user-select: none;
    position: relative;
    z-index: 9;
    left: -4.5rem;
    border-radius: 2.6rem;
    height: 5rem;
    line-height: 5rem;
    min-width: 9rem;
    border: .1rem rgb(80, 0, 255) solid;
    background-color: rgb(240, 230, 255);
    font-size: 2.2rem;
    font-weight: bold;
    color: rgb(100, 0, 255);
    box-shadow: rgb(200, 170, 255) -.3rem 0 .3rem;
}

#searchBtn:hover {
    cursor: pointer;
    animation-duration: 1s;
    animation-name: searchBtn;
}

@keyframes searchBtn {
    0% {
        left: -4.5rem;
    }
    33% {
        left: -5.5rem;
    }
    66% {
        left: -4rem;
    }
    100% {
        left: -4.5rem;
    }
}

@media screen and (max-width: 800px) {
    header {
        flex-direction: column;
    }
    #logoImg {
        margin: 0;
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 1300px) {
    #searchDiv {
        padding-right: 25rem;
    }
}

@media screen and (max-width: 1300px) and (min-width: 800px) {
    #searchDiv {
        padding-right: 0;
    }
}

@media screen and (max-width: 800px) {
    #searchDiv {
        padding-right: 0;
        padding-left: 5rem;
    }
}

/* navigation */

nav {
    padding: 0;
    background-color: rgb(245, 240, 255);
    border-top: solid .2rem rgb(100, 0, 255);
    border-bottom: solid .2rem rgb(100, 0, 255);
    height: 5.5rem;
    align-items: center;
}

@media screen and (min-width: 800px) {
    nav {
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    nav {
        justify-content: left;
    }
}

nav * {
    user-select: none;
}

#navDiv {
    justify-content: flex-start;
    height: 5.5rem;
    align-items: center;
}

.navBtn {
    height: 5.5rem;
    width: 10rem;
    margin: 0;
    font-size: 2.5rem;
    line-height: 5.6rem;
    text-align: center;
    font-weight: bold;
    color: rgb(80, 0, 255);
    display: inline-block;
}

#randomP {
    width: 13rem;
}

.navBtn:hover {
    font-size: 2.7rem;
    cursor: pointer;
    animation-duration: 1s;
    animation-name: gradation;
    animation-iteration-count: infinite;
}

@media screen and (min-width: 800px) {
    #uploadInput:checked~#uploadDiv {
        animation-name: uploadDivShow1;
        animation-duration: .5s;
        animation-fill-mode: forwards;
    }
}

@media screen and (max-width: 800px) {
    #uploadInput:checked~#uploadDiv {
        animation-name: uploadDivShow2;
        animation-duration: .5s;
        animation-fill-mode: forwards;
    }
}

#randomInput:checked~#randomDiv {
    animation-name: randomDivShow;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes uploadDivShow1 {
    0% {
        width: 0vw;
    }
    100% {
        width: 11vw;
    }
}

@keyframes uploadDivShow2 {
    0% {
        width: 0vw;
    }
    100% {
        width: 16vw;
    }
}

@keyframes randomDivShow {
    0% {
        width: 0vw;
    }
    100% {
        width: 40vw;
    }
}

#uploadInput:checked~#uploadDiv>label {
    animation-name: uploadLabelShow;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes uploadLabelShow {
    0% {
        padding-left: 0rem;
    }
    10% {
        padding-left: 1rem;
    }
    100% {
        padding-left: 1rem;
    }
}

#uploadInput:not(:checked)~#uploadDiv>label {
    border-width: 0rem;
    transition-delay: .5s;
    animation-name: uploadLabelHide;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

#randomInput:not(:checked)~#randomDiv {
    border-width: 0rem;
    transition-delay: .5s;
    animation-name: uploadLabelHide;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes uploadLabelHide {
    0% {
        padding-left: 1rem;
    }
    65% {
        padding-left: 1rem;
    }
    100% {
        padding-left: 0rem;
    }
}

@media screen and (min-width: 800px) {
    #uploadInput:not(:checked)~#uploadDiv {
        animation-name: uploadDivHide1;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        align-items: center;
    }
}

@media screen and (max-width: 800px) {
    #uploadInput:not(:checked)~#uploadDiv {
        animation-name: uploadDivHide2;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        align-items: center;
    }
}

#randomInput:not(:checked)~#randomDiv {
    animation-name: randomDivHide;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    align-items: center;
}

@keyframes uploadDivHide1 {
    0% {
        width: 11vw;
    }
    100% {
        width: 0vw;
    }
}

@keyframes uploadDivHide2 {
    0% {
        width: 16vw;
    }
    100% {
        width: 0vw;
    }
}

@keyframes randomDivHide {
    0% {
        width: 40vw;
    }
    100% {
        width: 0vw;
    }
}

#uploadDiv>label {
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: 3.2rem;
    display: inline-block;
    border: rgb(100, 0, 255) .2rem solid;
    background-color: white;
    border-radius: 1.9rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 3rem;
    text-align: left;
    padding-left: 1rem;
    cursor: pointer;
}

#randomDiv {
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    height: 3.2rem;
    max-width: fit-content;
    border: rgb(100, 0, 255) .2rem solid;
    background-color: white;
    border-radius: 1.9rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: left;
    margin-left: 1rem;
    justify-content: space-around;
    align-items: center;
}

#randomDiv>p {
    cursor: pointer;
    line-height: 0rem;
}

@media screen and (min-width: 1300px) {
    #navDiv {
        min-width: 125rem;
    }
}

@media screen and (max-width: 1300px) and (min-width: 800px) {
    #navDiv {
        width: -webkit-fill-available;
    }
}

@media screen and (max-width: 800px) {
    #navDiv {
        max-width: 125rem;
    }
}

/* section */

section {
    padding-top: 1rem;
    justify-content: center;
}

@media screen and (min-width: 1300px) {
    article {
        max-width: 99rem;
        min-width: 99rem;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 1300px) {
    section {
        flex-direction: column;
        align-items: center;
    }
    article {
        width: -webkit-fill-available;
        margin: 0;
        margin-bottom: 1rem;
    }
}

/* article */

article {
    flex-direction: column;
    padding: 2.35rem;
    margin-bottom: 1rem;
}

#headDiv {
    align-items: center;
}

#titleH1 {
    font-size: 4rem;
}

#toolDiv {
    width: 25rem;
    min-width: 20rem;
}

#toolDiv>button {
    height: 3.8rem;
    width: 35%;
    font-size: 1.8rem;
    line-height: 3.7rem;
    border: rgb(180, 170, 200) solid .1rem;
    background-color: rgb(253, 250, 255);
}

#toolDiv>button:hover {
    background-color: rgb(245, 240, 255);
    cursor: pointer;
}

#toolDiv>button:nth-child(1) {
    border-radius: 1.5rem 0 0 1.5rem;
    border-right: none;
}

#toolDiv>button:nth-child(3) {
    border-radius: 0 1.5rem 1.5rem 0;
    border-left: none;
}

#document {
    word-break: break-all;
}

@media screen and (min-width: 800px) {
    #headDiv {
        padding: 0 5rem;
        justify-content: space-between;
    }
}

@media screen and (max-width: 800px) {
    #headDiv {
        padding: 0;
        justify-content: space-around;
    }
}

/* aside */

.asideDiv {
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}

.asideDiv>hr {
    width: 96%;
    margin: 1rem auto;
}

.asideDiv>p {
    font-size: 2.4rem;
    text-align: center;
}

.asideDiv a {
    width: max-content;
    font-size: 1.7rem;
    height: auto;
    margin: 0 3%;
    word-break: break-all;
}

.asideDiv:not(#rankDiv)>div>p {
    font-size: 1.7rem;
    height: 2rem;
    margin: 0 3%;
    margin-left: auto;
    color: grey;
}

#rankDiv>div>p {
    width: max-content;
    font-size: 1.7rem;
    height: auto;
    margin: 0 3%;
    color: black;
}

.signInput {
    font-family: '돋움';
    height: 3rem;
    font-size: 1.7rem;
    padding: .3rem;
    line-height: 3rem;
    margin: .5rem 2%;
    width: -webkit-fill-available;
}

.signBtn {
    line-height: 2.3rem;
    padding: .3rem;
    font-size: 1.7rem;
    height: 3rem;
    margin: .5rem 2%;
}

@media screen and (min-width: 1300px) {
    aside {
        flex-direction: column;
        width: 27rem;
    }
}

@media screen and (max-width: 1300px) {
    aside {
        flex-direction: row;
        width: -webkit-fill-available;
    }
    aside>div {
        width: 49%;
    }
    aside>div:first-child {
        margin-right: .5rem;
        margin-left: 1rem;
    }
    aside>div:last-child {
        margin-left: .5rem;
        margin-right: 1rem;
    }
}

/* footer */

footer {
    width: 100%;
    height: 8rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 240, 255);
    border-top: rgb(80, 0, 255) .2rem solid;
}

footer>div {
    align-items: center;
    height: 100%;
    width: 125rem;
}

footer>div>a:hover {
    border: none;
}

footer>div>a>img {
    width: 6rem;
}

footer>div>p {
    text-align: right;
    font-size: 1.7rem;
    margin: 0;
}

@media screen and (min-width: 1300px) {
    footer>div {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1300px) {
    footer>div {
        flex-direction: column;
        justify-content: center;
    }
}

/* 검색어 자동완성 */

div[id^=auto]>a {
    display: inline-block;
    color: black !important;
    border: none !important;
    box-sizing: border-box;
    font-size: 1.9rem;
    width: 100%;
    height: 100%;
    padding: 0.4rem 1rem;
    line-height: 3.2rem;
}

div[id^=auto] {
    position: absolute;
    z-index: 5;
    border-radius: 2rem;
    height: 4rem;
    min-width: 40rem;
    border: .1rem rgb(80, 0, 255) solid;
    background-color: white;
}

div[id^=auto]:hover {
    background-color: rgb(250, 247, 252);
}

div[class^=choice] {
    background-color: rgb(245, 242, 247);
}