/* meta */

@font-face {

    font-family: mainFont;
    src: url(../font/NanumGothic.woff) format('woff')
}

html {

    background-color: rgb(250, 250, 250);

    font-family: mainFont, '돋움', sans-serif;
    font-size: 14pt;
}

table {

    border-collapse: collapse;
    border: black solid 1px;
}

td {

    border: black solid 1px;
    margin: 0px;
    padding: 5px;
}

body {

    margin: 0px;
}

input:focus {

    outline: none;
}

button:focus {

    outline: none;
}

.container {

    display:flex;
}

ul {

    list-style: outside none none !important;
}

a {

    text-decoration: none;
    color: blue;
}

a:hover {

    border-bottom: blue solid 1px;

}

del {

    color: gray;
}

del:hover {

    text-decoration: none;
}

ins {

    text-decoration: none;
    border-bottom: black solid 1px;
}

h2, h3, h4, h5 {

    border-bottom: rgb(200, 200, 200) solid 1px;
    padding-bottom: 12px;
    margin: 20px 0px;
}

h2 {

    font-size: 1.5em;
}

h3 {

    font-size: 1.35em;
}

h4 {

    font-size: 1.2em;
}

h5 {

    font-size: 1.05em;
}

/* 미리 만들어 자주 쓰는 것들 */

.fn {

    flex: none;
}

.hidden {

    display: none;
}

/* header */

header {

    padding:1px;
    background-color: rgb(249, 255, 255);
}

#headContainer {
    max-width: 1300px;
    margin: 30px auto;
    justify-content: flex-start;
    align-items: center;

}



#logo, #logoAnker {
    width:170px;
    height:80px;
    margin-right: 50px;
    border: none !important;
}

#logo:hover {

    cursor: pointer;
}

#searchTxt {

    box-sizing: border-box;
    width: 500px;
    height: 60px;
    font-size: 1.5em;
    padding: 10px;
    border: rgb(173, 232, 227) solid 2px;

}

#searchBtn {

    width: 63px;
    height: 60px;
    border: rgb(173, 232, 227) solid 2px;
    background-color: white;
    margin-left: -3px;
}

#login {

    margin-left: auto;
}

#loginInput {

    position: relative;
}

#loginInput > input {

    position: absolute;
    margin: auto;
    flex: 0 0 220px;
    height: 20px;
}

#id {

    right: 190px;
    bottom: 20px;
}

#pw {

    right: 10px;
    bottom: 20px;
}

#loginBtn {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    border: black 1.5px solid;
    border-radius: 60px;
    
}

#loginBtn > img {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}

#loginBtn:hover {

    cursor: pointer;
}

#loginBtn:hover > #sign1 {

    display: none;
}

#loginBtn:hover > #sign2 {

    display: block;
}


/* navigation */

nav {
    margin: 0px;
    border: rgb(105, 201, 192) solid 1px;
    background-color: rgb(173, 232, 227);
}

#navContainer {

    height: 50px;
    justify-content: center;
}

.navItem {

    flex: 0 0 1300px;
}

#navList {

    margin: 0px;
    padding: 0px;
    
    
}

.navLi {

    float: left;
    line-height: 50px;
}

.navBtn {

    display: flex;
    height: 50px;
    width: 120px;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    color: black;
    margin: 0px;
    
}

.navBtn:hover {

    background-color:  rgb(105, 201, 192);
}

#uploadDiv {

    position: absolute;
    z-index: 9999;
    background-color: white;
    border: rgb(200, 200, 200) solid 1px;
}

/* content */

#contentContainer {
    max-width: 1300px;
    height: auto;
    margin: auto;
}

.contentItem {

    background-color: white;
    border: rgb(200, 200, 200) solid 1px;
    padding: 15px;
}

/* article */

#menuContainer {

    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 35px;
}

#toolContainer {

    border: rgb(200, 200, 200) solid 1px;
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
}
.toolItem {

    flex: none;
    width: 80px;
    height: 35px;
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 0.9em;

}

.toolItem:hover {

    cursor: pointer;
    background-color: rgb(240, 240, 240);
}

.toolItem:nth-child(1) {

    border-radius: 10px 0 0 10px;
}

.toolItem:nth-child(2) {

    border-right: rgb(200, 200, 200) solid 1px;
    border-left: rgb(200, 200, 200) solid 1px;
    width: 84px;
}

.toolItem:nth-child(3) {

    border-radius: 0 10px 10px 0;
}

.documentTitle {

    font-size: 2.3em;
    display: inline;
    margin: 15px 0px;
}

/* aside */

aside {

    flex: 0 0 220px;
    margin-top:10px;
    height: fit-content;
    box-sizing: border-box;
}

aside a {

    font-size: 0.8em;
}

/* footer */

footer {

    margin-top: 10px;
    height: 150px;
    background-color: rgb(173, 232, 227);
    border: rgb(105, 201, 192) solid 1px;
}
